.overlay {
	z-index: 9999;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .box {
	display: block;
	background: white;
	width: 70%;
	height: 100%;
	padding: 1rem;
	border-radius: 1rem;
	
  }
  .create-helpwanted-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .field{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .input {
	border-radius: 2px;
  }