.professional-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.professional-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
}

.create-listing-button{
	background-color: lightgreen;
	width: 40%;
	border-radius: 5px;
}

.data-list {
	width: 100%
}

.listingslist{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: row;
	margin: 5px;
	margin-top: 10px;
	border: black solid 1px;
	background-color: #0084AE;
}